:root{
    --azulClaro:#A7C7E7;
    --verdeSuave:#B7D7C0;
    --branco:#ffffff;
    --cinzaClaro:#F2F2F2;
    --azulDetalhes:#2F4F6F;


    --fonteTitulo:Arial, Helvetica, sans-serif;
    --fonteTexto:Verdana, Geneva, Tahoma, sans-serif;

}


html, body {
    margin: 0;
    font-family:var(--fonteTexto)
}
body {
    background-color:var(--cinzaClaro);
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color:var(--cinzaClaro);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: var(--verdeSuave);
    padding: 10px 20px 0px;
}
.header {
    background-color: var(--azulDetalhes);
    min-height: 150px;
    max-height: 200px; 
    max-width: 1000px;
}
.header img{
    height: 100%;
}
.content {
    background-color:var(--branco);
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color:var(--azulClaro);
    min-height: 150px;
}